<div class="min-h-screen p-5 flex justify-center">
    <div class="w-full max-w-4xl bg-blue-300 p-3 rounded-md">
      <h1 class="text-3xl font-bold mb-5 text-gray-700 text-center">Companies</h1>
        <div class="flex justify-end mb-5">
            <button (click)="showCreate()" class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600">Create Company</button>
        </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (company of companies; track company.id) {
            <div class="bg-blue-100 rounded-lg shadow-slate-700 p-5 hover:bg-blue-200 transition-all">
                <h2 class="text-lg font-semibold mb-3 text-blue-900">{{ company.name }}</h2>
                <p class="text-blue-700 mb-2">CNPJ: {{ company.CNPJ }}</p>
                <p class="text-blue-700 mb-2">Address: {{ company.address }}</p>
                <p class="text-blue-700 mb-2">Phone: {{ company.phone }}</p>
                <p class="text-blue-700 mb-2">Email: {{ company.email }}</p>
                <div class="flex justify-between items-center">
                    <span class="text-sm text-green-500">{{ company.status }}</span>
                    <div class="flex space-x-2">
                        <button (click)="showEdit(company)" class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600">Edit</button>
                        <button (click)="showDelete(company)" class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600">Delete</button>
                    </div>
                </div>
            </div>
        }
      </div>
    </div>
    <app-company-modal [feedbackErrors]="feedbackErrors" [feedbackMessages]="feedbackMessages" *ngIf="(openEditModal && companyDetails.name) || openCreateModal" (closeModal)="closeModals()" [companyData]="companyDetails" (onEdit)="onEdit($event)" (onCreate)="onCreate($event)" />
    <app-confirmation-modal (closeModal)="closeModals()" *ngIf="openDeleteModal" [confirmationMessage]="confirmationMessage" (onConfirm)="onDelete(companyDetails)" />
</div>